@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100&family=Merriweather&display=swap');

header {
  background: transparent; /* Set the background to transparent */
  padding: 20px 0; /* Add padding to the top */
  font-family: 'Dancing Script', cursive;
  font-size: 20px;

}

/* Customize the Navbar */
.navbar {
  background-color: rgba(53, 48, 48, 0.8); /* Use rgba to set a transparent white background */
  padding: 15px; /* Add padding to the navbar */
}

.navbar-brand {
  color: #333; /* Set the color of the brand */
  font-weight: bold; /* Set font weight */
  padding-left: 10px;
}

.navbar-toggler-icon {
  background-color: #333; /* Set the color of the toggler icon */
}

.navbar-nav {
  margin-left: auto; /* Align the links to the right */
}

.nav-link {
  color: #333; /* Set the color of the links */
  margin-right: 20px; /* Add some space between the links */
  font-weight: bold; /* Set font weight */
}

/* Add styles for when the navbar is in light mode */
.navbar-light .navbar-brand,
.navbar-light .navbar-toggler-icon,
.navbar-light .nav-link {
  color: #333; /* Set the color for light mode */
}

/* Add styles for when the navbar is in dark mode */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-toggler-icon,
.navbar-dark .nav-link {
  color: #fff; /* Set the color for dark mode */
}
